<template name="peopleHeader">
  <thead>
    <tr>
      <th colspan>
        Name
      </th>
      <th colspan class="showHide"></th>
      <th>
        <a title="earlier" data-id="{{_id}}"
           class="earlier-month btn btn-mini">
          <i class="icon-chevron-left icon"></i>
        </a>
      </th>
      {{#each months}}
      <th class="monthHeader">
        {{formatMonth this.yearMonth}}
      </th>
      {{/each}}
      <th>
        <a title="later" data-id="{{_id}}"
           class="later-month btn btn-mini">
          <i class="icon-chevron-right icon"></i>
        </a>
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <small>
          Head count
        </small>
      </th>
      <th></th>
      {{#each months}}
      <th class="monthHeader">
        <small>
          {{ yearMonthCount this.yearMonth}}
        </small>
      </th>
      {{/each}}
      <th id="add-month"></th>
    </tr>
  </thead>
</template>
