th.monthHeader {
  text-align: center;
}

th.showHide {
  text-align: right;
  border-left: 0px;
  font-size: 10px;
  font-weight: normal;
}

.table {
  width: auto;
}

td.grey {
  background-color: gray;
}

form#add-person {
  margin: 0px;
  width: 150px;
}

td.delete-person, td.add-person {
  border-left: 0px;
}