.monthHeader {
  /*font-style: oblique;*/
}

.table {
  width: auto;
}

td.red {
  color: red;
  background-color: pink;
}

.blue {
  color: blue;
}

form#add-person {
  margin: 0px;
  width: 150px;
}