<template name="peopleHeader">
  <thead>
    <tr>
      <th>
        Name
      </th>
      {{#each yearMonths}}       
      <th class="monthHeader"> 
        {{formatMonth this }}
      </th>
      {{/each}} 
      <th id="add-month">
        <a>Add month</a>
      </th>
    </tr>
    <tr>
      <th> 
        <small>
          Head count
        </small>
      </th> 
      {{#each yearMonths}}       
      <th class="monthHeader"> 
        <small>
          {{ yearMonthCount this}}
        </small>
      </th>
      {{/each}} 
      <th id="add-month"></th>
    </tr>
  </thead>
</template>
