<template name="peopleBody">
  {{#each people}}
  <tr id="{{name}}">
    {{> peopleItem}}
  </tr>
  {{/each}}
  <tr>
    <td>
      <form id="add-person" class="form-inline">
        <input type="text" name="name" placeholder="New Person" class="span12">
      </form>
    </td>
    <td class="add-person">
      <a id="add-person" class="btn btn-mini btn-success">
        <i class="icon-plus icon-white"></i>
      </a>
    </td>
    <td>
      <a title="earlier" data-id="{{_id}}"
         class="earlier-month btn btn-mini">
        <i class="icon-chevron-left icon"></i>
      </a>
    </td>
    <td colspan="{{visibleYearMonthsCount}}"></td>
    <td>
      <a title="later" data-id="{{_id}}"
         class="later-month btn btn-mini">
        <i class="icon-chevron-right icon"></i>
      </a>
    </td>
  </tr>

</template>
